---
import PageLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/Button.astro'
---

<PageLayout meta={{ title: 'Home' }}>
  <div class='w-full p-6'>
    <Button title='Back' href='/' style='button'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='14'
        height='14'
        viewBox='0 0 24 24'
        slot='icon-before'
      >
        <path
          fill='currentColor'
          d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
        ></path>
      </svg>
    </Button>

    <section class="flex flex-col items-center justify-center mt-6">
<a href="https://trakteer.id/dimaspamungkas" target="_blank"><img id="wse-buttons-preview" src="https://cdn.trakteer.id/images/embed/trbtn-red-1.png?date=18-11-2023" height="40" style="border:0px;height:40px;" alt="Support me on Trakteer"></a>
      <div class="max-w-2xl w-full rounded-lg shadow-md text-center">
        <h1 class="text-3xl font-bold mb-4">Support My Work</h1>
        <p class="text-lg mb-6">
          If you find my content helpful and would like to support my work, you can make a donation through Trakteer. Your support is greatly appreciated and helps me to keep creating valuable content.
        </p>
      </div>
    </section>
  </div>
</PageLayout>
